html,
body {
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	color: #fff;
	background: #24292e;
}

.header {
	text-align: center;
}

.wrapper {
	position: absolute;
	top: 50%;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	transform: translateY(-50%);
	z-index: 1;
}

.container {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.name {
	font-size: 2.6rem;
	margin: 0;
}

.name:before {
	content: '<';
}

.name:after {
	content: '/>';
}

.title {
	font-weight: 300;
	position: relative;
	margin: 0;
}

.title:before {
	position: absolute;
	top: 50%;
	left: 0;
	display: block;
	width: 100%;
	height: 0.1rem;
	content: '';
	background: rgba(255, 255, 255, 0.25);
}

.title span {
	position: relative;
	z-index: 1;
	padding: 0 1rem;
	background: #24292e;
	display: inline-block;
}

.footer {
	position: fixed;
	bottom: 1rem;
	width: 100%;
	text-align: center;
}

.footer a {
	text-transform: lowercase;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.75);
}

.footer a::after {
	content: '/ ';
}

.footer a:last-child::after {
	content: '';
}

.github-corner:hover .octo-arm {
	-webkit-animation: octocat-wave 560ms ease-in-out;
	animation: octocat-wave 560ms ease-in-out;
}

.github-corner {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
	z-index: 1;
}

.github-corner .octo-arm {
	transform-origin: 130px 106px;
}

@-webkit-keyframes octocat-wave {
	0%,
	100% {
		transform: rotate(0);
	}

	20%,
	60% {
		transform: rotate(-25deg);
	}

	40%,
	80% {
		transform: rotate(10deg);
	}
}

@keyframes octocat-wave {
	0%,
	100% {
		transform: rotate(0);
	}

	20%,
	60% {
		transform: rotate(-25deg);
	}

	40%,
	80% {
		transform: rotate(10deg);
	}
}

@media (max-width: 500px) {
	.github-corner:hover .octo-arm {
		animation: none;
	}

	.github-corner .octo-arm {
		animation: octocat-wave 560ms ease-in-out;
	}
}
