html,
body {
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	color: #fff;
	background: #24292e;
}

input,
textarea {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	padding: 1.3em;
	border: .1em solid #ccc;
	border-radius: .3em;
	margin-bottom: 1em;
	width: 100%;
	box-sizing: border-box;
	color: #2c3e50;
	font-size: .8em;
}

button {
	width: 6em;
	background: #24292e;
	color: #fff;
	border: 0;
	border-radius: .1em;
	cursor: pointer;
	padding: 1em;
	float: right;
	font-size: 1em;
}

button:hover,
button:focus {
	box-shadow: 0 0 0 0.1em #fff, 0 0 0 0.2em #000;
	transition: all 0.3s;
}

.header {
	text-align: center;
}

.wrapper {
	position: absolute;
	top: 50%;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	transform: translateY(-50%);
	z-index: 1;
}

.container {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.name {
	font-size: 2.6rem;
	margin: 0;
}

.name:before {
	content: '<';
}

.name:after {
	content: '/>';
}

.title {
	font-weight: 300;
	position: relative;
	margin: 0;
}

.title:before {
	position: absolute;
	top: 50%;
	left: 0;
	display: block;
	width: 100%;
	height: 0.1rem;
	content: '';
	background: rgba(255, 255, 255, 0.25);
}

.title span {
	position: relative;
	z-index: 1;
	padding: 0 1rem;
	background: #24292e;
	display: inline-block;
}

.footer {
	position: fixed;
	bottom: 1rem;
	width: 100%;
	text-align: center;
}

.footer a {
	text-transform: lowercase;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.75);
}

.footer a::after {
	content: '/ ';
}

.footer a:last-child::after {
	content: '';
}

.modal {
	position: fixed;
	background-color: rgba(255, 255, 255, 0.25);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999;
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s;
}

.modal:target {
	opacity: 1;
	pointer-events: auto;
}

.modal > .modal-content {
	box-sizing: border-box;
	width: 95vw;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 4em 2em 2em;
	background: #ffffff;
	color: #333333;
}

@media (min-width: 26em) {
	.modal > .modal-content {
		width: 25em;
	}
}

.modal-close {
	color: #aaa;
	position: absolute;
	right: 0;
	top: 0;
	text-decoration: none;
	padding: 1em 2em 1em;
	text-transform: lowercase;
}

.github-corner:hover .octo-arm {
	-webkit-animation: octocat-wave 560ms ease-in-out;
	animation: octocat-wave 560ms ease-in-out;
}

.github-corner svg {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
}

.github-corner .octo-arm {
	transform-origin: 130px 106px;
}

@-webkit-keyframes octocat-wave {
	0%,
	100% {
		transform: rotate(0);
	}

	20%,
	60% {
		transform: rotate(-25deg);
	}

	40%,
	80% {
		transform: rotate(10deg);
	}
}

@keyframes octocat-wave {
	0%,
	100% {
		transform: rotate(0);
	}

	20%,
	60% {
		transform: rotate(-25deg);
	}

	40%,
	80% {
		transform: rotate(10deg);
	}
}

@media (max-width: 500px) {
	.github-corner:hover .octo-arm {
		animation: none;
	}

	.github-corner .octo-arm {
		animation: octocat-wave 560ms ease-in-out;
	}
}
