:root {
  --default-font-size: 16px;
  --color-black: #000;
  --color-white: #fff;
  --salutation-text: '👋 My name\'s';
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: var(--default-font-size);
  transition: background,color .3s ease-in-out;
  color: var(--color-black);
  background: var(--color-white);
}

body.theme-dark {
  color: var(--color-white);
  background: var(--color-black);
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: auto;
  grid-template-rows: min-content auto;
  grid-template-areas: 'navigation' 'header';
}

.header {
  display: flex;
  padding: 1rem 1rem 1rem 5rem;
  grid-area: header;
  align-items: center;
}

.title {
  font-weight: lighter;
  display: block;
  margin: 0;
}

.title::before {
  content: 'I\'m a ';
}

.name {
  font-size: 5.625rem;
  margin: 0;
  text-transform: uppercase;
}

.name::before {
  font-size: 1.875rem;
  font-weight: normal;
  display: block;
  margin-bottom: -1.5rem;
  content: var(--salutation-text);
  text-transform: initial;
}

.name::after {
  display: inline-block;
  content: '.';
  text-indent: -1.875rem;
}

.contacts {
  display: flex;
  flex-direction: row-reverse;
  min-height: 3.75rem;
  padding: 1rem;
  grid-area: navigation;
}

.contacts ol {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
}

.contacts li {
  display: inline-block;
  padding-right: .25rem;
}

.contacts li:not(:last-child)::after {
  padding-left: .15rem;
  content: '•';
}

.contacts a {
  font-size: .875rem;
  padding: 0;
  transition: all .3s ease-in-out;
  text-decoration: none;
  color: var(--color-black);
}

.theme-dark .contacts a {
  color: var(--color-white);
}

.contacts a:hover,
.contacts a:focus {
  font-size: .975rem;
  font-weight: bold;
  text-decoration: none;
}

.toggle-theme {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  display: flex;
  overflow: hidden;
  width: 2.625rem;
  height: 2.625rem;
  cursor: pointer;
  border: 0;
  background: transparent;
  align-items: center;
}

.toggle-theme .moon {
  opacity: 1;
}

.toggle-theme .sun {
  opacity: 0;
}

.toggle-theme svg {
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  transition: opacity .3s ease-in-out;
}

.toggle-theme path {
  transition: fill .3s ease-in-out;
  fill: var(--color-black);
}

.theme-dark .toggle-theme path {
  fill: var(--color-white);
}

.theme-dark .toggle-theme .moon {
  opacity: 0;
}

.theme-dark .toggle-theme .sun {
  opacity: 1;
}

.background-lines {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100vw;
  height: 100%;
}

.theme-dark .background-lines .line {
  background: var(--color-white);
  opacity: .15;
}

.background-lines .line {
  position: absolute;
  height: 0.0625rem;
  background: var(--color-black);
  opacity: .1;
}

.background-lines .line:nth-child(1) {
  top: 50%;
  left: -10rem;
  width: 50%;
  transform: rotate(28deg);
}

.background-lines .line:nth-child(2) {
  top: 10rem;
  left: 50%;
  width: 50%;
  transform: rotate(-28deg);
}

.background-lines .line:nth-child(3) {
  right: -18rem;
  bottom: 40%;
  width: 50%;
  transform: rotate(28deg);
}
